.Rproj.user
.Rhistory
.RData
.Ruserdata
.Datasets
preproccesed_outliers_1085575_col_11_threshold_09.feather
.ipynb_checkpoints/Keras_NN-checkpoint.ipynb
.ipynb_checkpoints/Preprocess-checkpoint.ipynb
preproccesed_outliers_1085575_col_11_threshold_09.csv
