.Rproj.user
.Rhistory
.RData
.Ruserdata
.Datasets
preproccesed_outliers_1085575_col_11_threshold_09.feather
.ipynb_checkpoints/Keras_NN-checkpoint.ipynb
.ipynb_checkpoints/Preprocess-checkpoint.ipynb
preproccesed_outliers_1085575_col_11_threshold_09.csv
Jupyter Notebooks/.ipynb_checkpoints/Preprocess-checkpoint.ipynb
Jupyter Notebooks/Datasets/Round 3/preproccesed_outliers_131362_col_7_threshold_0.8_.csv
Jupyter Notebooks/.ipynb_checkpoints/NeuralNet_v2-checkpoint.ipynb
Jupyter Notebooks/Datasets/Round 3/preproccesed_outliers_131362_col_7_threshold_0.8_.feather
Jupyter Notebooks/Datasets/Round 3/preproccesed_outliers_131362_col_7_threshold_0.8__v1.feather
Jupyter Notebooks/Datasets/Round 3/preproccesed_outliers_131362_col_7_threshold_0.8__v2.feather
Jupyter Notebooks/Datasets/Round 3/preproccesed_outliers_131362_col_7_threshold_0.8__v2_State.feather
Jupyter Notebooks/Datasets/Round 3/preproccesed_outliers_131362_col_7_threshold_0.8__v2_Timezone.feather
Jupyter Notebooks/.ipynb_checkpoints/Visulization-checkpoint.ipynb
Jupyter Notebooks/Datasets/US_Accidents_June20.csv
Jupyter Notebooks/Datasets/US_Accidents_June20.csv.feather
Jupyter Notebooks/Datasets/US_Accidents_June20.feather
Jupyter Notebooks/Datasets/merged_data.feather
Jupyter Notebooks/.ipynb_checkpoints/county_values-checkpoint.ipynb
Jupyter Notebooks/county_values.ipynb
Jupyter Notebooks/Datasets/combined_data.feather
Jupyter Notebooks/Datasets/processed_data_v1.feather
Jupyter Notebooks/Datasets/processed_data_v2.feather
Jupyter Notebooks/Datasets/processed_data_v2.feather_State.feather
Jupyter Notebooks/Datasets/processed_data_v2.feather_Timezone.feather
Jupyter Notebooks/Datasets/states.csv
Jupyter Notebooks/processed_data_v1.feather
Jupyter Notebooks/processed_data_v2.feather
Jupyter Notebooks/processed_data_v2.feather_State.feather
Jupyter Notebooks/processed_data_v2.feather_Timezone.feather
Jupyter Notebooks/Datasets/merged_data_v2.feather
Jupyter Notebooks/Datasets/merged_data_numeric_v2.feather
Jupyter Notebooks/.ipynb_checkpoints/Preprocessing-checkpoint.ipynb
Jupyter Notebooks/Datasets/final/preproccesed_outliers_3353_col_7_threshold_1_.feather
Jupyter Notebooks/Datasets/final/preproccesed_outliers_3353_col_7_threshold_1_.csv
Jupyter Notebooks/Datasets/merged_data_v1.feather
Jupyter Notebooks/Datasets/Final_model_datasets.rar
